/* ==========================================================================
   Large
   ========================================================================== */

@media screen and (max-width: 1290px) {
    /* projects
       ========================================================================== */
    .projects__list {
        width: 785px;
        margin-right: auto;
        margin-left: auto;
    }

    .projects__item:nth-child(3n) {
        margin-right: 45px;
    }

    .projects__item:nth-child(2n) {
        margin-right: 0;
    }

    .projects__item:nth-child(n + 3) {
        margin-top: 44px;
    }

    /* about
       ========================================================================== */
    .about blockquote br {
        display: none;
    }
}

/* ==========================================================================
   Medium
   ========================================================================== */

@media screen and (max-width: 992px) {
    /* main-header
       ========================================================================== */
    .main-header {
        padding-bottom: 60px;
    }

    /* projects
       ========================================================================== */
    .section-title {
        text-align: center;
    }

    .projects__list {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .projects__item,
    .projects__item:nth-child(3n) {
        margin-right: 0;
    }

    .projects__item:nth-child(n + 2) {
        margin-top: 44px;
    }

    /* about
       ========================================================================== */
    .about img {
        float: none;
        margin-right: 0;
    }
}

/* ==========================================================================
   Small
   ========================================================================== */

@media screen and (max-width: 768px) {
    /* about
       ========================================================================== */
    .about blockquote {
        padding: 0 50px;
    }

    .about blockquote::before,
    .about blockquote::after {
        font-size: 130px;
    }

    .about blockquote::before {
        top: 34px;
    }

    .about blockquote::after {
        bottom: 34px;
    }
}

/* ==========================================================================
   Extra small
   ========================================================================== */

@media screen and (max-width: 576px) {

}




@media screen and (max-width: 400px) {
    /* projects
       ========================================================================== */
    .project {
        width: 100%;
    }

    .project__head {
        padding-left: 30px;
    }

    .project--video-courses .project__head {
        padding-left: 50px;
    }

    .project--video-courses .project__head h3::before {
        left: -41px;
    }
}


/* Container
   ========================================================================== */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1290px) {
    .container {
        max-width: 1230px;
    }
}
